<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.repository.PostRepository">

    <select id="list" resultType="HashMap">
        /* com.heeji.picket.repository.PostRepository.list */
        SELECT  *
        FROM    POST
        WHERE   1 = 1
        AND     TYPE = #{type}
    </select>

    <select id="info" resultType="HashMap">
        /* com.heeji.picket.repository.PostRepository.info */
        SELECT  *
        FROM    POST
        WHERE   1 = 1
        AND     POST_ID = #{postId}
    </select>

    <update id="increaseViewCount">
        /* com.heeji.picket.repository.PostRepository.increaseViewCount */
        UPDATE POST SET HITS = HITS + 1 WHERE POST_ID = #{postId}
    </update>

    <insert id="insert">
        /* com.heeji.picket.repository.PostRepository.insert */
        INSERT INTO POST (
            POST_ID,
            TYPE,
            TITLE,
            CONTENT,
            HITS,
            INSERT_DATE,
            INSERT_ID
        ) VALUES (
            0,
            #{type},
            #{title},
            #{content},
            0,
            NOW(),
            #{loginId}
        )
    </insert>
    
    <update id="update">
        /* com.heeji.picket.repository.PostRepository.update */
        UPDATE POST
        SET UPDATE_DATE = NOW()
        ,   UPDATE_ID = #{loginId}
        ,   TITLE = #{title}
        ,   CONTENT = #{content}
    </update>

    <delete id="delete">
        /* com.heeji.picket.repository.PostRepository.delete */
        DELETE FROM POST
        WHERE       1 = 1
        AND         POST_ID = #{postId}
    </delete>

</mapper>