<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.repository.SeatGradeRepository">

    <select id="findByShowDateId" resultType="HashMap">
        SELECT sg
        FROM SeatGrade sg
        WHERE sg.showDateId = #{showDateId}
    </select>

</mapper>