<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<mapper namespace="com.heeji.picket.mapper.UserProfileMapper">

    <select id="getUserProfile" resultType="com.heeji.picket.dto.UserDTO">
        /* userProfileMapper.getUserProfile */
        SELECT *
        FROM   T_USER_INFO
        WHERE  1 = 1
        AND   userId = #{id}
    </select>

    <insert id="insertUserProfile" parameterType="com.heeji.picket.dto.UserDTO">
        /* userProfileMapper.insertUserProfile */
        INSERT INTO T_USER_INFO (userId, name, email, phonNumber)
        VALUES (#{userId}, #{name}, #{email}, #{phonNumber})
    </insert>

    <update id="updateUserProfile">
        /* userProfileMapper.updateUserProfile */
        UPDATE T_USER_INFO
        SET    name = #{name},
                email = #{email},
                phonNumber = #{phonNumber}
        WHERE  userId = #{userId}
    </update>

    <delete id="deleteUserProfile">
        /* userProfileMapper.deleteUserProfile */
        DELETE FROM T_USER_INFO
        WHERE  userId = #{id}
        AND    userPassword = #{password}
    </delete>

    <select id="findByIdAndPassword" resultType="com.heeji.picket.dto.UserDTO">
        /* userProfileMapper.findByIdandPassword */
        SELECT *
        FROM   T_USER_INFO
        WHERE  1 = 1
        AND    userId = #{id}
        AND    password = #{password}
    </select>

    <select id="idCheck" resultType="int">
        /* userProfileMapper.idCheck */
        SELECT COUNT(id)
        FROM   T_USER_INFO
        WHERE  userId = #{id}
    </select>

</mapper>