<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.PostMapper">

    <select id="list" parameterType="java.util.Map" resultType="java.util.Map">
        /* com.heeji.picket.mapper.PostMapper.list */
        SELECT  POST_ID     AS postId
        ,       TYPE        AS postType
        ,       TITLE       AS title
        ,       CONTENT     AS content
        ,       HITS        AS hits
        ,       INSERT_DATE AS insertDate
        ,       INSERT_ID   AS insertId
        ,       UPDATE_DATE AS updateDate
        ,       UPDATE_ID   AS updateId
        FROM    POST
        WHERE   1 = 1
        AND     TYPE = #{postType}
        <if test="keyword != null and keyword != ''">
        AND     TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY POST_ID DESC
        <if test="size != null">
        LIMIT #{size} OFFSET #{offset}
        </if>
    </select>

    <select id="count" parameterType="java.util.Map" resultType="int">
        /* com.heeji.picket.mapper.PostMapper.count */
        SELECT  COUNT(*)
        FROM    POST
        WHERE   1 = 1
        AND     TYPE = #{postType}
        <if test="keyword != null and keyword != ''">
        AND     TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="info" parameterType="java.util.Map" resultType="java.util.Map">
        /* com.heeji.picket.mapper.PostMapper.info */
        SELECT  POST_ID     AS postId
        ,       TYPE        AS postType
        ,       TITLE       AS title
        ,       CONTENT     AS content
        ,       HITS        AS hits
        ,       INSERT_DATE AS insertDate
        ,       INSERT_ID   AS insertId
        ,       UPDATE_DATE AS updateDate
        ,       UPDATE_ID   AS updateId
        FROM    POST
        WHERE   1 = 1
        AND     POST_ID = #{postId}
    </select>

    <update id="increaseViewCount" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.PostMapper.increaseViewCount */
        UPDATE  POST
        SET     HITS = HITS + 1
        WHERE   1 = 1
        AND     POST_ID = #{postId}
    </update>

    <insert id="insert" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="postId">
        /* com.heeji.picket.mapper.PostMapper.insert */
        INSERT INTO POST (
            TYPE,
            TITLE,
            CONTENT,
            HITS,
            INSERT_DATE,
            INSERT_ID
        ) VALUES (
            #{postType},
            #{title},
            #{content},
            0,
            NOW(),
            #{loginId}
        )
    </insert>

    <update id="update" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.PostMapper.update */
        UPDATE  POST
        SET     UPDATE_DATE = NOW()
        ,       UPDATE_ID = #{loginId}
        ,       TITLE = #{title}
        ,       CONTENT = #{content}
        WHERE   1 = 1
        AND     POST_ID = #{postId}
    </update>

    <delete id="delete" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.PostMapper.delete */
        DELETE FROM POST
        WHERE       1 = 1
        AND         POST_ID = #{postId}
    </delete>

</mapper>
