<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.SeatMapper">

    <select id="list" resultType="java.util.Map">
        /* com.heeji.picket.mapper.SeatMapper.list */
        SELECT  *
        FROM    SEAT S
        LEFT JOIN SEAT_GRADE SG
        ON      S.SEAT_GRADE_ID = SG.SEAT_GRADE_ID
        WHERE   1 = 1
        AND     S.SHOW_DATE_ID = #{showDateId}
    </select>

    <select id="selectedSeatList" resultType="java.util.Map">
        /* com.heeji.picket.mapper.SeatMapper.selectedSeatList */
        SELECT  *
        FROM    SEAT S
        WHERE   S.SEAT_ID IN
        <foreach collection="array" item="arr" open="(" close=")" separator=",">
            #{arr}
        </foreach>
    </select>

</mapper>