<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.ShowReviewsMapper">

    <select id="list" resultType="java.util.Map">
        /* com.heeji.picket.mapper.ShowReviewsMapper.list */
        SELECT  *
        FROM    SHOW_REVIEWS
        WHERE   1 = 1
        AND     SHOW_ID = #{showId}
    </select>

    <insert id="insert">
        /* com.heeji.picket.mapper.ShowReviewsMapper.insert */
        INSERT INTO SHOW_REVIEWS (
            LIKE_ID,
            SHOW_ID,
            USER_ID,
            INSERT_DATE
        ) VALUES (
            0,
            #{showId},
            #{userId},
            NOW()
        )
    </insert>

    <delete id="delete">
        /* com.heeji.picket.mapper.ShowReviewsMapper.delete */
        DELETE FROM SHOW_REVIEWS
        WHERE       1 = 1
        AND         LIKE_ID = #{likeId}
    </delete>

</mapper>