<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.ShowsMapper">

    <select id="list" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.ShowsMapper.list */
        SELECT  S.*
        ,       (SELECT MIN(SHOW_DATE) FROM SHOW_DATE SD WHERE SD.SHOW_ID = S.SHOW_ID) AS START_DATE
        ,       (SELECT MAX(SHOW_DATE) FROM SHOW_DATE SD WHERE SD.SHOW_ID = S.SHOW_ID) AS END_DATE
        FROM    SHOWS S
        WHERE   1 = 1
        <if test="genre != null and genre != ''">
        AND     GENRE = #{genre}
        </if>
    </select>

    <select id="info" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.ShowsMapper.info */
        SELECT  *
        FROM    SHOWS S
        WHERE   1 = 1
        AND     SHOW_ID = #{showId}
    </select>

</mapper>