<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.ShowDateMapper">

    <select id="list" parameterType="java.util.Map" resultType="java.util.Map">
        /* com.heeji.picket.mapper.ShowDateMapper.list */
        SELECT  SHOW_DATE_ID    AS showDateId
        ,       SHOW_ID         AS showId
        ,       SHOW_DATE       AS showDate
        FROM    SHOW_DATE
        WHERE   1 = 1
        AND     SHOW_ID = #{showId}
        ORDER BY SHOW_DATE ASC
    </select>

    <select id="info" parameterType="java.util.Map" resultType="java.util.Map">
        /* com.heeji.picket.mapper.ShowDateMapper.info */
        SELECT  SD.SHOW_DATE_ID AS showDateId
        ,       SD.SHOW_ID      AS showId
        ,       SD.SHOW_DATE    AS showDate
        ,       S.TITLE         AS title
        ,       S.PLACE         AS place
        ,       S.GENRE         AS genre
        ,       S.POSTER_LINK         AS posterLink
        ,       S.AGE_LIMIT     AS ageLimit
        FROM    SHOW_DATE SD
        LEFT JOIN SHOWS S
        ON      SD.SHOW_ID = S.SHOW_ID
        WHERE   1 = 1
        AND     SD.SHOW_DATE_ID = #{showDateId}
    </select>

</mapper>
