<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.ShowReviewsMapper">

    <select id="list" parameterType="java.util.Map" resultType="java.util.Map">
        /* com.heeji.picket.mapper.ShowReviewsMapper.list */
        SELECT  SR.REVIEW_ID    AS reviewId
        ,       SR.SHOW_ID      AS showId
        ,       SR.CONTENT      AS content
        ,       SR.INSERT_DATE  AS insertDate
        ,       SR.INSERT_ID    AS insertId
        ,       SR.UPDATE_DATE  AS updateDate
        ,       U.NAME          AS userName
        FROM    SHOW_REVIEWS SR
        LEFT JOIN USER U
        ON      SR.INSERT_ID = U.USER_ID
        WHERE   1 = 1
        AND     SR.SHOW_ID = #{showId}
        ORDER BY SR.REVIEW_ID DESC
    </select>

    <insert id="insert" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.ShowReviewsMapper.insert */
        INSERT INTO SHOW_REVIEWS (
            SHOW_ID,
            CONTENT,
            INSERT_DATE,
            INSERT_ID
        ) VALUES (
            #{showId},
            #{content},
            NOW(),
            #{userId}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        /* com.heeji.picket.mapper.ShowReviewsMapper.delete */
        DELETE FROM SHOW_REVIEWS
        WHERE       1 = 1
        AND         REVIEW_ID = #{reviewId}
        AND         INSERT_ID = #{userId}
    </delete>

</mapper>
