<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeji.picket.mapper.UserAlarmMapper">

    <select id="alarmYn" resultType="int">
        /* com.heeji.picket.mapper.UserAlarmMapper.alarmYn */
        SELECT  COUNT(*)
        FROM    USER_ALARM
        WHERE   1 = 1
        AND     SHOW_ID = #{showId}
        AND     USER_ID = #{userId}
    </select>

    <select id="alarmCnt" resultType="int">
        /* com.heeji.picket.mapper.UserAlarmMapper.alarmCnt */
        SELECT  COUNT(*)
        FROM    USER_ALARM
        WHERE   1 = 1
        AND     USER_ID = #{userId}
    </select>

    <select id="list" resultType="java.util.Map">
        /* com.heeji.picket.mapper.UserAlarmMapper.list */
        SELECT  *
        FROM    USER_ALARM
        WHERE   1 = 1
        AND     USER_ID = #{userId}
    </select>

    <insert id="insert">
        /* com.heeji.picket.mapper.UserAlarmMapper.insert */
        INSERT INTO USER_ALARM (
            SHOW_ID,
            USER_ID,
            INSERT_DATE
        ) VALUES (
            #{showId},
            #{userId},
            NOW()
        )
    </insert>

    <delete id="delete">
        /* com.heeji.picket.mapper.UserAlarmMapper.delete */
        DELETE FROM USER_ALARM
        WHERE       1 = 1        
        AND         SHOW_ID = #{showId}
        AND         LIKE_ID = #{likeId}
    </delete>

</mapper>